.navbar-brand {
/*	width: 100%; */
/*	left: 0;  */
	padding-top: 11px;
/*	margin: auto; */
}
/*.navbar-toggle {
	z-index:3;
}*/

.spacer { margin:0; padding:0; height:58px; }

/* ---------------------------------------------------------------
                        MAIN STYLING 
   --------------------------------------------------------------- */
.dev-skills {
  background: #571816;
  text-align: center;
}

.dev-skills-hdr {
  color: antiquewhite;
  padding-top: 25px;
}

.skills-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 0% auto;
}

.skill-cell {
  margin: 10px 50px;
}

.cell-icon {
  max-height: 165px;
}

.cell-title {
  color: antiquewhite
}

.cell-button {
/*    color: #000;*/
/*    background: #1990bf;*/
}

button {
  font-size: 1.25em;
  font-weight: bold;
  background-color: #1990bf;
  border: none;
  padding: 0.2em 1em;
  color: #fff;
  box-shadow: 0 0 0 2px #000 inset;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background 0.4s ease, color 0.4s ease;
}

button:hover {
  box-shadow: 0 0 0 2px #000 inset;
  color: #000;
  background-color: transparent;
}

/* ---------------------------------------------------------------
                        MODAL STYLING 
   --------------------------------------------------------------- */
/** {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}*/

.wrap {
/*  margin: auto;*/
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  max-height: 100%;
/*  height: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/* xmodal prevents conflict with Bootstrap modal styling.  
  I tried to build a custom Bootstrap on their website with no modal features 
  but was unsuccessful. Will try again another day */
.xmodal {

/*  position: fixed;*/
/*  top: 65px;  height of nav bar */
  width: 600px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 2em;
/*  margin-left: 0;*/
  background-color: #fff;
  padding: 1em 2em;
  border-radius: 0.5em;
  display: none;
  text-align: center;
}

.modal-hdr {
  min-height: 17px;
  border-bottom: 1.5px solid #e0e0e0; /* horizontal line */
  margin-bottom: 2em;
}

.modal-hdr-icon {
  max-height: 125px;
  margin: 0 auto;
  padding: 11px 5px 2px;
  margin-bottom: 1.5em;
}

.modal-body-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.modal-body-title, .xmodal-body {
  text-align: left;
}

.modal-body-txt {
  margin-bottom: 1.5em;
  line-height: 1.3;
  color: #000;
}

.modal-list-hdr {
  font-size: 1.25rem;
  font-weight: bold;
}

.xmodal-footer {
  border-top: 1.5px solid #e0e0e0;  /* horizontal line */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
}

.xmodal.is-active {
  display: block;
}

.btn-open {
  display: none;
}

.btn-open.is-active {
  display: block;
}

